/* Header - Cabeçalho */

header {
    background-color: #070743;
    border-bottom: 5px solid #b9cc01;
    padding: 0.5rem;
}

nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1250px;
    justify-content: space-between;
}

#logo {
    border-bottom: 5px solid #b9cc01;
    width: 50px;
    border-radius: 8px;
}

ul {
    display: flex;
    gap: 2rem;
    text-transform: uppercase;

}

a {
    color: #fff;
    font-size: 20px;
}

a:hover {
    color: #b9cc01;
    opacity: 0.9;
}

/* Responsividade */

@media (max-width: 900px) {
    nav {
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-between;
    }

    ul {
        flex-direction: column;
        gap: .3rem;
        padding: 10px 0px;
    }

    li a {
        font-size: 1rem;
    }

}