@import url('./header.css');
@import url('./main.css');
@import url('./main-contato.css');
@import url('./footer.css');
@import url('./main-pedido.css');
@import url('./main-retorno.css');
/* Gerais */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li, a, button, input, select, ul{
    text-decoration: none;
    list-style: none;
    outline: none;
}

